packages:
  yum:
    mod_ssl: []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        ServerName deepakpun.com
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCertificateChainFile "/etc/pki/tls/certs/chain.crt"
        <Directory /var/www/html>
          AllowOverride All
        </Directory>
      </VirtualHost>

  /etc/httpd/conf.d/http-redirect.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        ServerName deepakpun.com
        RedirectPermanent / https://deepakpun.com/
      </VirtualHost>

container_commands:
  1_install_cert:
    command: |
      aws acm get-certificate --certificate-arn arn:aws:acm:us-east-1:871328969693:certificate/54a9de54-c4d6-4c3b-b623-2aabde39f243 --region us-east-1 > /tmp/cert.json
      cat /tmp/cert.json | jq -r '.Certificate' > /etc/pki/tls/certs/server.crt
      cat /tmp/cert.json | jq -r '.CertificateChain' > /etc/pki/tls/certs/chain.crt
      # You'll need to provide the private key separately as ACM doesn't export it
  
  2_restart_apache:
    command: "service httpd restart"
